<div class="clearfix">
    <header class="clearfix">
        <div class="nvc-container">
            <h1>Detalles del Establecimiento</h1>
            <span></span>
            <h3></h3>
        </div>
    </header>
</div>
