<script id="modal-loading-transfer.tpl" type="text/ng-template">
    <div class="nvc-modal" tabindex="-1" role="dialog">
	    <div class="nvc-modal__loading--payment">
	    	<img src="{{ asset('images/loadingTransfer.gif') }}"/>
	    </div>
    </div>
</script>    
