<script id="modal-loading.tpl" type="text/ng-template">
    <div class="nvc-modal" tabindex="-1" role="dialog">
	    <div class="nvc-modal__loading" style="">
	    	<img src="{{ asset('images/loading.gif') }}"/>
	    </div>
    </div>
</script>    
