<script id="modal-cvc.tpl" type="text/ng-template">
    <div class="nvc-modal" tabindex="-1" role="dialog">
	    <div class="nvc-modal__dialog nvc-modal--top centered-modal">
	        <div class="nvc-modal__header">
	            <button type="button" class="close close2" ng-click="$hide()" data-dismiss="modal" aria-hidden="true">×</button>
	             <h3 class="font-bold" style="font-size:16px; color:#fff;"align="center">
	             	¿Qué es el código de seguridad de la tarjeta? (CVC)</span>
	             </h3>
	        </div>
	        <div class="nvc-modal__content" style="text-align:center;">
	        	<div class="nvc-container">
	        		<div class="nvc-row">
	        			<div class="col-xs-8 col-md-10">
	        				<strong>¿Dónde está?</strong>
	        				<p align="justify">
								En el caso de las tarjetas Visa y Mastercard, el código de seguridad está en el reverso de la tarjeta, Son los últimos tres dígitos.
							</p>
	        			</div>
	        			<div class="col-xs-8 col-md-6" style="margin-top: -4%;margin-left: -0.8%;">
	        					<img class="img-responsive" style="margin-top: 20%;" src="{{ asset('images/cvc_credi_cards.png') }}"alt="">
	        			</div>
	        		</div>
	        	</div>
	        	<hr>
	        </div>
	    </div>
    </div>
</script>    
