<script id="modal-error.tpl" type="text/ng-template">
	<div class="nvc-modal" tabindex="-1" role="dialog" style="overflow-x:hidden;  overflow-y:hidden;">


	    <div class="nvc-modal__error center-block clearfix">
	        
	        <div class="nvc-modal__header">
	            <button type="button" class="close" ng-click="$hide()" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 class="hidden-xs">{[{ errorModal.title }]}</h3>
				<h3 class="visible-xs">{[{ errorModal.titleMovil }]}</h3>
	        </div>

	        <div class="nvc-modal__content">
	        	<div class="nvc-row">
	        		<div class="col-xs-16">
	        			<div class="nvc-row">
	        				<div class="col-sm-12">
				            	<div class="nvc-modal__content--error hidden-xs" >
				            		<span>{[{ errorModal.content }]}</span>
				            	</div>

				            	<!-- mensaje de error en vista Movil -->
				            	<div class="nvc-modal__content-error visible-xs" >
				            		<span>{[{ errorModal.contentMovil }]}</span>
				            	</div>

								<!-- mensaje de sugerencia -->
				            	<div class="nvc-modal__content--message hidden-xs">
				            		<span>{[{ errorModal.suggestionLine1 }]}</span>
				            		<span>{[{ errorModal.suggestionLine2 }]}</span>
				            	</div>
				            	<!-- mensaje de sugerencia en vista Movil-->
				            	<div class="nvc-modal__content--message-suggestion visible-xs">
				            		<span>{[{ errorModal.suggestionLine1Movil }]}</span>
				            		<br>
				            		<span>{[{ errorModal.suggestionLine2Movil }]}</span>
				            	</div>	
	        				</div>

						<!-- 	 {[{imagesError[1}]}  -->

							<!-- Imagen dentro del mensaje de Error -->
	        				<div ng-style="marginTopImagesError[errorModal.indexImage]" class="col-sm-3 nvc-modal__content--margin">
								<img src="/images/{[{ imagesError[errorModal.indexImage] }]}" class="img-responsive center-block" alt="image">
	        				</div>
	        			</div>	
	        		</div>
		       	</div>
		    </div>
	        <!-- End Contenido del Modal -->
	    </div>
	    <!-- End Modal Error -->
	</div>
</script>
