<div class="type">
    <div class="col-xs-16">
        <h2>Hotel</h2>
    </div>
</div>

<div class="info">
    <div class="col-xs-16">
        <h2>{[{ reservation.name_property }]}</h2>
    </div>
</div>

<div class="mainInfo">
    <div class="col-xs-8 separatorOne">
        <h2>
            CeCo
        </h2>
    </div>
    <div class="col-xs-8">
        <h2>
            Tipo
        </h2>
    </div>
</div>

<div class="info">
    <div class="col-xs-8 separatorTwo">
        <h2>
            {[{ reservation.ceco }]}
        </h2>
    </div>
    <div class="col-xs-8">
        <h2>
            {[{ reservation.type }]}
        </h2>
    </div>
</div>

<div class="mainInfo">
    <div class="col-xs-8 separatorOne">
        <h2>
            Fecha creación
        </h2>
    </div>
    <div class="col-xs-8">
        <h2>
            Monto total reserva
        </h2>
    </div>
</div>

<div class="info">
    <div class="col-xs-8 separatorTwo">
        <h2>
            {[{ reservation.create_date }]}
        </h2>
    </div>
    <div class="col-xs-8">
        <h2>
            {[{ reservation.total_to_pay | money }]}
        </h2>
    </div>
</div>

<div class="mainInfo">
    <div class="col-xs-8 separatorOne">
        <h2>
            MP
        </h2>
    </div>
    <div class="col-xs-8">
        <h2>
            $
        </h2>
    </div>
</div>

<div class="info">
    <div class="col-xs-8 separatorTwo">
        <h2>
            {[{ reservation.mp }]}
        </h2>
    </div>
    <div class="col-xs-8">
        <h2>
            {[{ reservation.currency }]}
        </h2>
    </div>
</div>

<div class="type">
    <div class="col-xs-16">
        <h2>Estado</h2>
    </div>
</div>

<div class="info">
    <div class="col-xs-16">
        <select
            ng-change="onBlurInput(reservation.public_id, true)"
            ng-class="{
                        'nvc-select--pending': reservation.status == STATUS_PENDING,
                        'nvc-select--accepted': reservation.status == STATUS_ACCEPTED,
                        'nvc-select--cancelled': reservation.status == STATUS_CANCELLED
                    }"
            ng-model="reservation.status"
        >
            <option
                class="nvc-option--pending"
                ng-value="STATUS_PENDING"
                ng-selected="reservation.status === STATUS_PENDING"
            >
                En proceso de confirmación
            </option>
            <option
                class="nvc-option--accepted"
                ng-value="STATUS_ACCEPTED"
                ng-selected="reservation.status === STATUS_ACCEPTED"
            >
                Aceptada
            </option>
            <option
                class="nvc-option--cancelled"
                ng-value="STATUS_CANCELLED"
                ng-selected="reservation.status === STATUS_CANCELLED"
            >
                Cancelada
            </option>
        </select>
    </div>
</div>
