<header>
    <div class="nvc-container">
        <h1>
            {[{ LABELS[selectedTab] }]}
        </h1>
    </div>
</header>

<div class="search">
    <div>
        <input
            class="form-control"
            ng-change="getList(search, 1, null)"
            ng-model="search"
            type="text"
        >
    </div>

    <div class="dropdown nvc-table__legend">
        <button
            class="btn btn-default dropdown-toggle"
            type="button" id="dropdownlogin"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
        >
            <img src="{{ asset('images/leyenda.png') }}"/>
            Ver leyenda de búsqueda
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownlogin">
            <li>
                <strong>Fecha creación</strong>
                <br>
                <span>create_date:2016-01-01:2016-03-30</span>
            </li>
            <hr>
            <li>
                <strong>Fecha expiración</strong>
                <br>
                <span>due_date:2016-01-01:2016-03-30</span>
            </li>
            <hr>
            <li>
                <strong>Detalle de la reserva</strong>
                <br>
                <span>check_in:2016-01-30:2016-03-01</span>
                <br>
                <span>check_out:2016-01-01:2016-02-15</span>
            </li>
        </ul>
    </div>
</div>
