<div class='row nvc-block-checks'>
    <div class='col-md-7 nvc-block-checks--col separatorCol'>
        <div class='row'>
            <div class='col-md-11 '>
                <p>¿Quieres enviar correos de confirmación personalizados a tus clientes?</p>
            </div>
            <div class='col-md-5 backgroundColorPrice'>
                <p class='col-price'>
                    Bs. 10.000
                </p>
                <span>
                    <input type="checkbox" value="" ng-model="registrationDataStep3.personalized_mail">
                </span>
            </div>       
        </div>
    </div>
    <div class='col-md-7 nvc-block-checks--col'>
        <div class='row'>
            <div class='col-md-11 '>
                <p>¿Quieres personalizar la interfaz de tu agencia?</p>
            </div>
            <div class='col-md-5 backgroundColorPrice'>
                <p class='col-price'>
                    Bs. 10.000
                </p>
                <span>
                    <input type="checkbox" value="" ng-model="registrationDataStep3.personalized_interface" checked='checked'>
                </span>
            </div>       
        </div>
    </div>
</div>
<div class='row nvc-block-info'>
    <div class='col-md-7 nvc-block-info--cols separatorCol'>
        <p>Envía correos de confirmación a tus clientes adaptados a la imagen de tu empresa</p>
    </div>
    <div class='col-md-7 nvc-block-info--cols'>
        <p>Utiliza el logotipo de tu agencia y modifica los colores a tu preferencia</p>
    </div>
</div>
<div class='row'>
    <div class='col-md-7 nvc-block-image'>
        <img class='mail-image' src='/images/aavv/billingStep3/mail-confirmation.jpg'/>
    </div>
    <div class='col-md-7 nvc-block-image example-image'>
        <img class='example-image' src='/images/aavv/billingStep3/example-view.jpg'/>
    </div>
</div>
<div class='row nvc-block-final'>
    <div class='col-md-7'>
        
    </div>
    <div class='col-md-7 nvc-block-final--right'>
        <p>*El pago por concepto de estos servicios se debe efectuar mensualmente</p>
    </div>
</div>