<div class="nvc-container">
   {# <div class="col-md-9">
        <h1>Envía correos de confirmación a tus clientes adaptado a la imagen de tu empresa</h1>
    </div>#}
    <div class="col-md-6 col-md-offset-1">
        <div class="nvc-jumbotron__registerAAVV--purple information nvc-row">
            <div
                class="col-md-12"
                style="margin-top: 19px; display:flex;"
            >
                <div class="checkbox">
                    <span>
                            ¡Crea una mejor experiencia optando por nuestras opciones personalizables!
                    </span>
                </div>
            </div>
        </div>
        <div class="barFree">
            <img src='/images/aavv/billingStep3/bar-free.png' />
            <p>Disfruta de <span>6 meses gratuitos</span> en nuestras opciones de correo electrónico e interfaz personalizada</p>
        </div>
    </div>
</div>
