<script id="loading.tpl" type="text/ng-template">
    <div class="nvc-modal" tabindex="-1" role="dialog" style="overflow-x:hidden;  overflow-y:hidden;">
        <div class="nvc-modal__error center-block clearfix">
            <div class="nvc-row">
                <div class="col-xs-16">
                    <div class="nvc-row">
                        <div class="col-sm-12">
                            <div class="loader-properties col-md-offset-6">
                                <img src="{{ asset('images/flight-loader.gif') }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
