<script id="modal-error.tpl" type="text/ng-template">
    <div class="nvc-modal" tabindex="-1" role="dialog" style="overflow-x:hidden;  overflow-y:hidden;">


        <div class="nvc-modal__error center-block clearfix">
            
            <div class="nvc-modal__header generalError">
                <button type="button" class="close" ng-click="$hide()" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 style="margin-left: 3%;" class="hidden-xs">¡Hey! ha ocurrido un error</h3>
            </div>

            <div class="nvc-modal__content">
                <div class="nvc-row">
                    <div class="col-xs-16">
                        <div class="nvc-row">
                            <div class="col-sm-12">
                                <div class="nvc-modal__content--error hidden-xs" >
                                    <span>Por favor, verifica tu información </span><br>
                                    <span>Alguno de los datos no son validos</span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- End Contenido del Modal -->
        </div>
        <!-- End Modal Error -->
    </div>
</script>