{% extends "NavicuInfrastructureBundle:Web:layout-destiny.html.twig" %}

{% block body %}

<main class='post-body entry-content' oncontextmenu='return false' ondragstart='return false' onmousedown='return false' onselectstart='return false'>
    <div class="nvc-container">
        <section class="nvc-terms">
            <div class="col-md-16">
                <h1 align="center">{{"word.termsPreBooking"|trans }}</h1>
            </div>
            <div class="nvc-terms__scroll nvc-container">
                <br>
                <h4>Cláusula 1. Definiciones y alcance</h4>
                <h5>1.1. Definiciones</h5>
                <p align="justify">
                Las siguientes definiciones tienen el mismo significado tanto si se menciona en plural como en singular. Por “usuario” se entiende el usuario o Usuario que pre-reserva los servicios de hospedaje o alojamiento ofrecidos por NAVICU en el sitio web.
                </p>
                <p align="justify">
                Por “NAVICU”, se entiende la sociedad mercantil debidamente inscrita por ante el Registro Mercantil Segundo del Estado Carabobo, República Bolivariana de Venezuela, No. de Expediente 315-51698, quedando anotada bajo el No. 33, Tomo 138-A en fecha 25 de junio de 2015.

                </p>
                <p align="justify">
                Por “pre-reserva” se entiende el bloqueo por 48 horas del derecho a reservar la cotización solicitada por el precio mostrado.
                </p>
                 <p align="justify">
                Por “CUENTA DE NAVICU” se entiende la cuenta bancaria de navicu c.a. con número de cuenta 0134-0467-41-4671097039 y con Rif J-40621968-1.
                </p>
                 <p align="justify">
                Por “Términos y Condiciones De la Pre-reserva”, se entiende estos términos y condiciones de la pre-reserva.
                </p>
                <p align="justify">
                    Por “Términos y Condiciones Especiales”, se entiende estos términos y condiciones del
                    Establecimiento Adherente o proveedor.
                </p>
                <p align="justify">
                    Por “Servicio”, se entiende el servicio de pre-reserva de alojamiento u hospedaje ofrecido en el sitio Web.
                </p>
                <p align="justify">
                    Por “Establecimiento Adherente”, se entiende el proveedor de servicios de alojamiento u hospedaje afiliado a la Web NAVICU.
                </p>
                <p align="justify">
                    Por “Sitio Web” se entiende el Sitio Web de NAVICU www.navicu.com
                </p>
                <h5>1.2. Alcance</h5>
                <p align="justify">
                    Los presentes Términos y Condiciones de la Pre-reserva se aplican a los servicios de pre-reservación de alojamiento u hospedaje que tramita o gestiona NAVICU a través de la presente página Web. NAVICU actúa como intermediario entre el Usuario y los diversos Establecimientos Adherentes o Proveedores afiliados a NAVICU.
                </p>
                <p align="justify">
                    NAVICU puede modificar los Términos y Condiciones de la Pre-reserva en cualquier momento y sin previo aviso. Por consiguiente, el Usuario debe leer, guardar e imprimir una copia de los Términos y Condiciones de la Pre-reserva en el momento de efectuar la pre-reserva, a los fines de que tenga conocimiento exacto de los términos y condiciones que le son aplicables a su caso concreto.
                </p>
                <h4>Cláusula 2. Realización de Reservas a través del Sitio Web. El servicio prestado por NAVICU.</h4>
                <h5>2.1 Capacidad Legal del Usuario.</h5>
                <p align="justify">
                    El Sitio Web permite al Usuario realizar las pre-reservas para alojamiento necesarias y de acuerdo a sus deseos, interés y capacidades. La Web actúa como intermediario entre Usuario y el proveedor o Establecimiento Adherente. El Usuario debe ser mayor de edad y tener capacidad legal para obligarse contractualmente. En caso de Usuarios persona jurídicas, debe actuar el represéntate con capacidad de obligar legal y contractualmente a la empresa.
                </p>
                <p align="justify">
                    El Usuario está obligado a proveer información verdadera, exacta y actualizada.
                </p>
                <h5>2.2 Condiciones financieras y procedimientos de pago. Impuesto.</h5>
                <p align="justify">
                    A menos que se especifique lo contario en los Términos y Condiciones Especiales, los precios de los servicios que figuran en el Sitio Web están expresados en la moneda local e incluyen el IVA, Expresamente están excluidas cualquier otro impuesto, tasas o contribuciones especiales. El precio de los servicios de alojamiento u hospedaje presentados en el Sitio Web deberá pagarse a NAVICU, quien aceptará dicho precio en nombre de los proveedores de servicios o Establecimientos Adherentes realizando el Usuario una transferencia bancaria desde una cuenta bancaria de su propiedad a NAVICU.
                </p>
                <p align="justify">
                    Una vez que el usuario haga la transferencia bancaria a la CUENTA DE NAVICU, el Usuario deberá proporcionar los datos la confirmación de la transferencia a NAVICU mediante la plataforma de confirmación que NAVICU posee en su página web. NAVICU verificará (i) la validez de la transferencia; (ii) el pago correcto del importe indicado en la reserva; iii) cobrar el importe total del precio por el alojamiento u hospedaje correspondiente al Establecimiento Adherente o proveedor; iv) emitir una confirmación de reserva que enviara vía electrónica al Usuario y al proveedor o Establecimiento Adherente una vez confirmado el pago y; v) emitirá la correspondiente factura de pago.
                </p>
                <h5>2.3. Confirmación y Cancelación de Pre-reservas</h5>
                <p align="justify">
                    2.3.1 Confirmación de Pre-reserva.
                </p>
                <p align="justify">
                    La Confirmación de una pre-reserva comporta la descripción de los servicios de alojamiento pre-reservados y el precio. Dicha confirmación se enviará al Usuario por correo electrónico. Si el Usuario no recibe un mensaje de correo electrónico de confirmación dentro de las 24 horas desde la realización de la pre-reserva, deberá ponerse en contacto con el Departamento de Atención al Usuario en la siguiente dirección del correo electrónico: preguntas@navicu.com.
                </p>
                <p align="justify">
                    Los datos almacenados en los sistemas informáticos de NAVICU y de sus proveedores o Establecimientos Adherentes constituirá prueba suficiente de la pre-reservas efectuadas por el Usuario, los almacenados en ordenadores o medios electrónicos son prueba suficiente y, por consiguiente, serán aceptable en virtud de las mismas condiciones y con el mismo valor probatorio que un documento físico. Una pre-reserva tiene un período de validez de 48 horas inalterables.
                </p>
                <p align="justify">
                    2.3.2 No Cancelación de Pre-reservas.
                </p>
                <p align="justify">
                    El Usuario no tiene un derecho automático de cancelación. Si el Usuario no se presenta a la salida de un viaje, los únicos reembolsos a lo que tendrá derecho el Usuario serán los previstos en los Términos y Condiciones Especiales del correspondiente proveedor y notificados durante el proceso de pre-reserva. NAVICU se reserva el derecho de cancelar su pre-reserva si no es recibo el pago en su totalidad y en su momento oportuno (48 horas desde la fecha de la pre-reserva).
                </p>
                <p align="justify">
                    2.3.3 Reembolsos.
                </p>
                <p align="justify">
                    En caso de corresponderle un reembolso al Usuario, NAVICU transferirá la cantidad de que se trate a la cuenta bancaria que se haya empleado para realizar la reserva original. Los cargos de pre-reserva aplicados no tendrán derecho a reembolso.
                </p>
                <p align="justify">
                    2.3.4 Tarifas de servicios.
                </p>
                <p align="justify">
                    Los proveedores o Establecimientos Adherentes a NAVICU publican en la página Web
                    NAVICU sus mejores tarifas y precios disponibles para el Usuario. En caso de que el Usuario obtenga un mejor precio o tarifa para ese mismo Establecimiento Adherente o proveedor, en las mismas fechas y condiciones de alojamiento, NAVICU igualará dicho precio o tarifa. A menos que el Usuario indique otra cosa, se entiende que solicita los Servicios menos costosos. Dichos servicios se deberán prestar sin posibilidad de modificarlos ni cancelarlos. En tales casos, los servicios no se podrán prestar de manera distinta en un momento o lugar diferente de los contratados.
                </p>
                <h5>2.4 Confirmación de transferencias por parte del USUARIO</h5>
                <p align="justify">
                    El USUARIO deberá ingresar con su usuario y contraseña en la página y acceder al módulo de transferencia bancaria. Dentro de ese módulo, deberá informar con el código de confirmación de la transferencia bancaria en la reserva a la que haga referencia dicha transferencia.
                </p>
                <p align="justify">
                    Una vez realizada la confirmación de la transferencia por parte del USUARIO, NAVICU en un plazo de 5 días verificará que el monto transferido es el mismo que el marcado en la pre-reserva.
                </p>
                <p align="justify">
                    Cuando NAVICU haya verificado el monto se le enviará el mail de confirmación de la reserva al email que el USUARIO haya facilitado en un plazo de 5 días desde la recepción de la confirmación de transferencia por el USUARIO.
                </p>
                <h4>Cláusula 3. Servicios  específicos.</h4>
                <p align="justify">
                    NAVICU administra y gestiona el Sitio Web www.navicu.com, siendo un intermedio entre el Usuario y los Establecimientos Adherentes o proveedores en relación a la oferta y la prestación de todos los servicios de alojamiento u hospedaje.
                </p>
                <p align="justify">
                    La información aquí aportada no es exhaustiva y no sustituye los términos y condiciones especiales de los Establecimientos Adherentes o proveedores. En caso de conflicto o incoherencia entre los presentes Términos y Condiciones de la Pre-reserva y los Términos y Condiciones Especiales que establecen los proveedores o Establecimientos Adherentes, prevalecerán estos últimos. Los términos y Condiciones Especiales de los proveedores o Establecimientos Adherentes se encuentran disponibles antes de que se formalice la pre-reserva.
                </p>
                <p align="justify">
                    Salvo que la normativa que resulte en definitiva aplicable disponga lo contrario, dicha información establecida en los Términos y Condiciones que establecen los proveedores o Establecimientos Adherentes no genera ninguna obligación ni responsabilidad para NAVICU.
                </p>
                <h5>3.1. Servicio de Alojamiento.</h5>
                <p align="justify">
                    Los servicios de alojamiento u hospedaje están sujetos a los Términos y Condiciones Especiales de los Proveedores o Establecimientos Adherentes que ofrecen alojamiento. Los términos y Condiciones especiales pueden incluir restricciones y cargos y/o impuestos por los proveedores.
                </p>
                <p align="justify">
                    Los precios mostrados en el Sitio Web no incluyen impuestos especiales de alojamiento, ni los cargos de los suplementos opcionales, tales como artículos del mini bar o llamadas telefónicas, entre otros semejantes.
                </p>
                <h5>3.2. Uso de las Habitaciones.</h5>
                <p align="justify">
                    Las habitaciones pre-reservadas están disponibles únicamente conforme a los horarios que establezca el proveedor o Establecimiento Adherente. Las habitaciones individuales tienen una cama y con frecuencia se paga un suplemento por ellas. Las habitaciones dobles tienen dos camas o una de matrimonio.
                </p>
                <p align="justify">
                    3.2.1 Clasificación.
                </p>
                <p align="justify">
                    La indicación del nivel o categoría otorgado a los proveedores o Establecimientos Adherentes que figuran en el Sitio Web corresponde a la clasificación basada en los estándares locales de dicho país, que pueden diferir de aquellos utilizados en otros países. Esta clasificación se ofrece simplemente como referencia. Los Usuarios deben tener en cuenta que los estándares pueden variar entre establecimientos de la misma clase en países distintos o incluso dentro del mismo país. Es importante leer con atención las descripciones de los establecimientos individuales. El alojamiento en todos los establecimientos, con independencia de su categoría, es en habitación normal, a no ser se indique otra cosa.
                </p>
                <p align="justify">
                    3.2.2. Comidas.
                </p>
                <p align="justify">
                    Si las Comidas forman parte del paquete del alojamiento, la cantidad de comidas depende de la cantidad de noches incluidas en la estancia. Normalmente, la pensión completa incluye desayuno, comida y cena. La media pensión incluye desayuno y comida o cena, lo que dependerá del paquete contratado. El alojamiento que incluye comidas principales suele comenzar con la cena del día de llegada al establecimiento y finalizar con el desayuno (si es con media pensión) o la comida (si es pensión completa) del día de partida. Si no puede tomarse una o varias comidas, no se realizará reembolso alguno.
                </p>
                <p align="justify">
                    A menos que se estipule lo contrario en el Sitio Web, las bebidas no están incluidas en las comidas; en tales casos, el Usuario deberá asumir su costo.
                </p>
                <p align="justify">
                    3.2.3. Impuestos.
                </p>
                <p align="justify">
                    Las autoridades locales pueden establecer impuestos adicionales pagaderos en el Establecimientos Adherente o proveedor. El Usuario es el único responsable de pagar dicho impuestos adicionales.
                </p>
                <p align="justify">
                    3.2.4. Cancelación.
                </p>
                <p align="justify">
                    NAVICU se reserva el derecho de cancelar la pre-reserva en el caso de que el pago íntegro no se reciba en los términos y condiciones establecidos en el presente documento o no se cumpla con el procedimiento de confirmación de pago de la página web de NAVICU.
                </p>
                <p align="justify">
                    3.2.5. Pre-reservas para grupos
                </p>
                <p align="justify">
                    No se podrá pre-reservar en el Sitio Web más de 10 habitaciones para el mismo establecimiento y las mismas fechas de estancia.
                </p>
                <p align="justify">
                    Si NAVICU determina que se ha pre-reservado más de 10 habitaciones por un mismo Usuario, NAVICU está en el derecho de cancelar las pre-reservas y el Usuario perderá el derecho a alojamiento para las pre-reservas efectuadas.
                </p>
                <p align="justify">
                    El Usuario que desee hacer pre-reservas de grupos deberá ponerse en contacto con NAVICU por el siguiente teléfono 08008 NAVICU o por el correo electrónico en preguntas@navicu.com
                </p>
                <h5>3.3. Cambios significativos por parte de NAVICU o Establecimientos Adherentes.</h5>
                <p align="justify">

                    Si se produce un cambio significativo en la reserva imputable a NAVICU o al proveedor o Establecimiento Adherente, el Usuario tiene derecho;

                    i)  a aceptar un paquete de sustitución de calidad equivalente o superior sin coste adicional para él, en caso de NAVICU pueda ofrecerle dicha posibilidad o
                    ii) aceptar una reserva de sustitución de calidad inferior, en caso de que NAVICU se lo puede ofrecer, en cuyo caso NAVICU reembolsará al Usuario la diferencia entre el costo de la pre-reserva original y aquella de sustitución o  a cancelar el contrato y recibir el reembolso de todo el dinero abonado. El Usuario debe ejercer sus derechos en un plazo de 2 días, después de que NAVICU le haya informado del cambio significativo de que se trate.
                </p>
                <h5>3.4. Términos y  Condiciones Especiales de Proveedores o Establecimientos Adherentes.</h5>
                <p align="justify">
                    NAVICU no ejerce un control sobre estos Proveedores o Establecimientos Adherentes.
                    Los servicios de alojamiento están sujetos a los Términos y Condiciones Especiales de los Establecimientos Adherentes o Proveedores.
                </p>
                <h5>3.5. Fuerza  Mayor.</h5>
                <p align="justify">
                    Si se produce una causa de fuerza mayor que no habría podido evitarse aplicando todo el cuidado debido que hubiera impedido en gran medida que tenga lugar, entonces cualquiera de las partes podrá rescindir el contrato.
                </p>
                <p align="justify">
                    Cuando el Usuario sea la parte afectada por la fuerza mayor, NAVICU no estará obligada a reembolsarle ninguna suma por los servicios que todavía no se hayan prestado.
                </p>
                <h4>Cláusula 4.   Responsabilidad de NAVICU.</h4>
                <p align="justify">
                    NAVICU es responsable de:
                </p>
                <p align="justify">
                    <ol class="romanos_lower">
                        <li>La diligente selección y la supervisión de los Establecimientos Adherentes o proveedores.</li>
                        <li>La precisa presentación de la información mostrada en el Sitio Web; en el entendido que la información la aporta el Establecimiento Adherente o proveedor y es este el responsable de su contenido.</li>
                        <li>Tramitar la pre-reservación en el Establecimiento Adherente o proveedor escogido por el Usuario y pagado por el Usuario.</li>
                        <li>Cobrar y facturar el servicio de alojamiento u hospedaje.</li>
                    </ol>
                </p>
                <h5>4.1. Limitación de responsabilidad.</h5>
                <p align="justify">
                    NAVICU no es responsable por (i) pérdidas o daños causadas por fraude o declaraciones falsas de los proveedores o Establecimientos Adherentes; (ii) por pérdidas originadas por el fallecimiento o lesiones personales o de terceros; iii) por fallas, deficiencias, desmejoras en el servicio de alojamiento u hospedaje prestado por los Establecimientos Adherentes o proveedores; o iv) robos, hurtos, pérdidas materiales en el Establecimiento Adherente o Proveedor.
                </p>
                <p align="justify">
                    NAVICU sólo será responsable por daños que surjan directamente como consecuencia de su incumplimiento de estos Términos y Condiciones de la Pre-reserva, relativas a la pre-reservación por un servicio de alojamiento u hospedaje en un Establecimiento Adherente o proveedor y, en todo caso, la responsabilidad está limitada al precio del producto correspondiente contratado.

                </p>
                <p align="justify">
                    La responsabilidad de NAVICU se limita a tramitar la pre-reservación, ser intermediario entre el Usuario y el proveedor del servicio de alojamiento u hospedaje y comienza su responsabilidad una vez se haya concretado el pago por la pre-reserva del alojamiento u hospedaje mediante la aprobación de pago por parte del banco emisor de la transferencia bancaria correspondiente y cesa en el momento del registro de entrada del Usuario en el Establecimiento Adherente o proveedor.
                </p>
                <p align="justify">
                    El Usuario deberá asegurarse de verificar toda la información indicada antes de realizar la pre-reserva. El Usuario debe tener en cuenta que todas las clasificaciones de los establecimientos que son mostradas tienen carácter meramente informativo y de orientación al Usuario. NAVICU no acepta ninguna responsabilidad en relación con las clasificaciones mostradas en la web.
                </p>
                <p align="justify">
                    Toda la información contenida en este sitio Web se proporciona sin garantías, ya sean explícitas o implícitas de calidad e idoneidad de los Establecimientos Adherentes o proveedores.
                </p>
                <p align="justify">
                    NAVICU no es responsable de cualquier demora o incapacidad para usar el Sitio Web, o del uso por parte del Usuario de los vínculos del sitio Web.
                </p>
                <p align="justify">
                    Las exclusiones y limitaciones contenidas en esta cláusula sólo son aplicables en la medida en que lo permita la normativa aplicable.
                </p>
                <h5>4.2.  Prescripción de la responsabilidad y período limitado de reclamaciones.</h5>
                <p align="justify">
                    Las reclamaciones derivadas del presente contrato deben presentarse en el plazo de 5 días continuos contados desde la fecha de la pre-reserva. En tal supuesto de reclamación, el Usuario interesado deberá ponerse en contacto por el siguiente correo electrónico preguntas@navicu.com o llamar al número de nuestro Servicio de atención al Usuario, 08008 NAVICU. Las reclamaciones se presentarán por escrito y en interés del propio Usuario.
                </p>
                <h4>Cláusula 5. Generalidades.</h4>
                <h5>5.1. Precios.</h5>
                <p align="justify">
                    El precio de los servicios será el que figure en el Sitio Web para cada proveedor o Establecimiento Adherente. Los precios pueden cambiar en cualquier momento. Pero los cambios no afectarán a la pre-reserva que ya hayan aceptado. A pesar de que NAVICU realiza sus mejores esfuerzos para evitarlo, algunos de los servicios enumerados en el Sitio Web podrían tener precios incorrectos y NAVICU no tiene ninguna obligación de prestar servicios al Usuario a un precio incorrecto (inferior), aunque se haya enviado al Usuario confirmación de su pre-reserva.
                </p>
                <h5>5.2. Información, fotografía e ilustraciones.</h5>
                <p align="justify">
                    NAVICU hace todo lo posible para proporcionar información, fotografías e ilustraciones que ofrezcan al Usuario una representación visual de los servicios de alojamiento u hospedaje ofrecidos. La finalidad de estas fotografías e ilustraciones es mostrar al Usuario el nivel del alojamiento y el grado de comodidad, sin pretender ninguna otro objetivo.
                </p>
                <h5>5.3. Seguros.</h5>
                <p align="justify">
                    Los precios en el Sitio Web no incluyen el seguro.
                </p>
                <h4>Cláusula 6. Atención al Usuario y gestión de reclamaciones.</h4>
                <p align="justify">
                    Las consultas y solicitudes de información deben enviarse a preguntas@navicu.com
                </p>
                <p align="justify">
                    Las reclamaciones deberán enviarse por correo electrónico preguntas@navicu.com
                </p>
                <h4>Cláusula 7. Privacidad.</h4>
                <p align="justify">
                    El Usuario, al momento de hacer su pre-reservación, aporta datos de identificación y de ubicación personal, dirección IP, el software de su navegador Web.
                    Eventualmente se le podría solicitar información sobre preferencias de alojamiento y otros datos para completar su perfil de viajero. La información anterior es utilizada para la base de datos de NAVICU y para confirmar las pre-reservas. Dicha información puede ser compartida con los Establecimientos Adherentes o proveedores. En caso de requerimientos de entes reguladores, fiscales y autoridades judiciales, NAVICU se verá obligada a compartir igualmente dicha información.
                </p>
                <p align="justify">
                    En caso de que la página Web de NAVICU tenga o permita enlaces externos, esos sitios Web no estarán bajo control de NAVICU y no atienden esta política de privacidad.
                </p>
                <p align="justify">
                    NAVICU está comprometida a proteger su información y nuestro sitio Web garantiza seguridad.
                </p>
                <h4>Cláusula 8. Legislación Aplicable.</h4>
                <p align="justify">
                    Estos términos y condiciones generales se rigen por la ley de la República Bolivariana de Venezuela.
                </p>
            </div>
        </section>
        <section align="center" class="nvc-terms">
            <a href="{{ asset("files/Terminosycondicionesdeprereserva.pdf") }}"  target="_blank" download="Condiciones_de_la_pre_reserva_Navicu_CA.pdf">
                <button style="width:auto;" class="nvc-button nvc-button__default">
                    {{"word.download"|trans }}
                </button>
            </a>
        </section>
    </div>
</main>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment == "dev" %}

    {% else %}

    {% endif %}

{% endblock %}
