<!DOCTYPE html>
<html>
    <head lang="en">
        <style type="text/css">
            p{text-align: justify;font-family: 'lato-regular';padding: 20px 0px;}
            h1{font-family: 'lato-bold';text-align: center;}
            h2,h3{font-family: 'lato-bold';padding-top:10px;}
        </style>
        <meta charset="UTF-8">
    </head>

    <body>
        <header>
            {% if app.environment == "prod" %}
                <img src="https://www.navicu.com/images/logo-pdf-contrato-aavv.png" style="padding-top: 6px;width:220px"/>
            {% else %}
                <img src="http://www.nevicu.com/images/logo-pdf-contrato-aavv.png" style="padding-top: 6px;width:220px"/>
            {% endif %}
            {#<img src=" {{ logo }}" style="padding-top: 6px;width:220px" />#}
        </header>
        <div>
            <h1>Contrato de afiliación de</h1>
            <h1>AGENCIAS DE VIAJES a <b><b>NAVICU</b></b> C.A.</h1><br>
            <p>
                Entre <b>NAVICU C.A.</b>, sociedad mercantil debidamente inscrita por ante el Registro Mercantil Segundo de Estado Carabobo en fecha 25 de junio de 2015, Expediente 315-51698, quedando anotada bajo  el No. 33, Tomo 138-A, de ahora en adelante y a los efectos de este contrato <b><b>NAVICU</b></b>, por una parte y; por la otra, la sociedad mercantil denominada <b>AGENCIA DE VIAJES</b> que suscribe el presente contrato y acepta sus términos y condiciones y cuyos datos de identificación y registro están al final del presente contrato con la firma de aceptación,  se ha convenido en celebrar el presente contrato de servicio para la reserva de alojamiento u hospedaje a través del sitio Web de NAVICU, el cual se regirá por las siguientes disposiciones contractuales y, en todo lo no previsto, por  la legislación venezolana aplicable. La <b>AGENCIA DE VIAJES</b> se afilia al sistema de reservación <b><b>NAVICU</b></b> a través de la página <a href="www.navicu.com/vicander">www.navicu.com/vicander</a>, siguiendo el correspondiente proceso de afiliación y llenando los formularios correspondientes y cumpliendo los requisitos allí establecidos. Una vez completado dicho proceso, la <b>AGENCIA DE VIAJES</b>acepta los términos y condiciones estipulados en el presente contrato, a los cuales declara expresamente someterse y <b><b>NAVICU</b></b>, una vez manifestada la aceptación, procederá vía email a confirmar dicha aceptación y afiliación.
            </p>

            <h2>PRIMERA. OBJETO Y ALCANCE DEL CONTRATO</h2>
            <p>
                <span>1.1</span>
                El presente Contrato tiene por objeto regular la relación entre <b>NAVICU</b> y la <b>AGENCIA DE VIAJES</b>, a los efectos de que <b>NAVICU</b> preste a la <b>AGENCIA DE VIAJES</b> los servicios de reservación de alojamiento u hospedaje a través de la página Web de NAVICU. En tal sentido, <b>NAVICU</b> actúa como intermediario entre los establecimientos hoteleros y de hospedaje afiliados a su plataforma <b>NAVICU</b> y la <b>AGENCIA DE VIAJES</b>.
            </p>
            <p>
                <span>1.2</span>
                <b>AGENCIA DE VIAJES</b> autoriza a <b>NAVICU</b> para actuar como intermediario en las reservas hoteleras que la <b>AGENCIA DE VIAJES</b> hagan a través de la página Web de NAVICU.<b>NAVICU</b>, por su parte gestionará y tramitará en nombre y por cuenta de la <b>AGENCIA DE VIAJES</b> la reserva de alojamiento enlos establecimientos hoteleros y de hospedaje afiliados a su plataforma <b>NAVICU</b>. Dicha reservación quedará registrada a nombre de la persona que la <b>AGENCIA DE VIAJES</b> señale a tal efecto.
            </p>
            <p>
                <span>1.3</span>
                La <b>AGENCIA DE VIAJES</b> se obliga y acepta las condiciones del presente contrato.
            </p>
            <h2> SEGUNDA. OBLIGACIONES y PRESTACIONES DE <b>NAVICU</b> </h2>
            <p>
                <span>2.1</span> <b>NAVICU</b> ofrece a la <b>AGENCIA DE VIAJES</b> la disponibilidad de habitaciones y servicios en los establecimientos hoteleros y de hospedajes afiliados a <b>NAVICU</b>, los cual se ofertana través de la página Web de NAVICU. <b>NAVICU</b>, pone a disposición de la <b>AGENCIA DE VIAJES</b>su página Web con  toda la información requerida sobre los establecimientos hoteleros y de hospedaje, sus ofertas de alojamiento y de servicios, a los fines de que la <b>AGENCIA DE VIAJES</b> pueda informarse de manera adecuada y veraz de las ofertas y hacer las correspondientes reservas de hospedaje o alojamiento. <b>NAVICU</b> proporcionala más completa información sobre la categoría de los establecimientos hoteleros, los servicios que prestan, los tipos de habitaciones y sus características, los precios y toda aquella información necesaria para que la <b>AGENCIA DE VIAJES</b> conozca la oferta del establecimiento hoteleroy pueda reservar adecuadamente. La información en cuestión es proporcionada por los establecimientos hoteleros y de hospedajes afiliados a la plataforma <b>NAVICU</b> y la misma es verificada por <b>NAVICU</b>.
            </p>
            <p>
                <span>2.2</span> <b>NAVICU</b>, a través de su plataforma Web, informa a la <b>AGENCIA DE VIAJES</b> sobre cualquier regla, restricciones, políticas y/o condiciones aplicables a cualquier habitación disponible para reservar. Dichas restricciones, reglas, políticas o condiciones no podrá ser más restrictivas que las que comúnmente el establecimiento hotelero afiliado a la red <b>NAVICU</b> establezca para la comercialización por cuenta propia o a través de cualquier otrocanal de comercialización.
            </p>
            <p>
                <span>2.3</span> <b>NAVICU</b> acepta que en ningún caso o situación va a tratar a la <b>AGENCIA DE VIAJES</b> que reserve a través del Sistema de <b>NAVICU</b> de manera diferente a otra agencia de viajes afiliada a los servicios de <b>NAVICU</b>. La información proporcionada a través del sistema <b>NAVICU</b> será igual para todas las agencias de viajes afiliadas.s
            </p>

            <p>
                <span>2.4</span> Si <b>NAVICU</b> no puede cumplir con una reserva confirmada, <b>NAVICU</b>: i) notificará a la <b>AGENCIA DE VIAJES</b> de dicha incapacidad; ii) reservará al huésped afectado un hospedaje con una categoría equivalente o superior; iii) cubrirá los cargos de habitación en el nuevo alojamiento asignado y todo el transporte y los costos de reubicación asociados, si los hubiere y; iv) en caso de que <b>NAVICU</b> no pueda asignar el alojamiento alternativo antes señalado y la <b>AGENCIA DE VIAJES</b> haga tales gestiones  por cuenta de <b>NAVICU</b>, <b>NAVICU</b> pagaría todos los costos y gastos que ello genere a la <b>AGENCIA DE VIAJES</b>.
            </p>
            <p>
                <span>2.5</span> <b>NAVICU</b> se compromete a atender, tramitar y responder de manera oportuna por las quejas y reclamos de la <b>AGENCIA DE VIAJES</b> relativa ala información sobre los establecimientos hoteleros y de hospedaje afiliados a su red.
            </p>
            <p>
                <span>2.6</span> <b>NAVICU</b> ofrecerá a la <b>AGENCIA DE VIAJES</b> que utilice la página Web de NAVICU la mejor tarifa disponible para las habitaciones objeto de reserva en cada momento y para cada día. Las tarifas, disponibilidad, servicios y restricciones para las habitaciones, tipos de habitaciones y planes de tarifas que haga disponible a través de <b>NAVICU</b>, son iguales o mejores que los que ponga a disposición para la comercialización por cuenta propia del hotel o establecimiento afiliado a la red <b>NAVICU</b>, o a través de cualquier otro canal de comercialización.
            </p>
            <p>
                <span>2.7</span> Si la <b>AGENCIA DE VIAJES</b> encuentra una mejor oferta de alojamiento con las mismas características, fechas y condiciones, con un precio inferior a la que fue publicado en la Pagina Web <b>NAVICU</b>, <b>NAVICU</b> abonará la diferencia entre el importe que encontró la <b>AGENCIA DE VIAJES</b> y el importe que está publicado en la Web <b>NAVICU</b>a la que hace referencia el presente contrato.</p>
            <p>
                <span>2.8</span> <b>NAVICU</b> se compromete a cumplir con todas las tarifas publicadas en la página Web <b>NAVICU</b>, vigentes para el momento de la reserva. <b>NAVICU</b> autoriza a la <b>AGENCIA DE VIAJES</b> para calcular conformea este Contrato, las tarifas de la habitación, impuestos u otros importes a pagar, a partir de la información introducida por <b>NAVICU</b> través de la página Web <b>NAVICU</b>.
            </p>
            <p>
                <span>2.9</span> <b>NAVICU</b> se compromete a cumplir con todas las reservas al precio o tarifa fijado al momento de confirmarse la reservación.
            </p>
            <p>
                <span>2.10</span> <b>NAVICU</b> actualizará las tarifas e impuestos aplicables según sea necesario y de acuerdo con este Contrato.
            </p>
            <p>
                <span>2.11</span> <b>NAVICU</b> actualizará  la página Web <b>NAVICU</b> cada vez que sea necesario, a los fines de introducir o modificar la información relativa a los establecimientos hoteleros o de hospedajes afiliados a su página Web.
            </p>
            <p>
                <span>2.12</span> <b>NAVICU</b> hace sus mejores esfuerzos a los fines de lograr la mayor veracidad y exactitud de los datos e informaciones proporcionados sobre los establecimientos afiliados a su red y que se introducen en la página Web <b>NAVICU</b>.
            </p>
            <p>
                <span>2.15</span> La <b>AGENCIA DE VIAJES</b> recibirá al momento de formalizar la afiliación una IDENTIDAD DE USUARIO (ID de usuario) y contraseña para acceder a su cuenta en el sistema <b>NAVICU</b>.
            </p>
            <p>
                La pagina WEB <b>NAVICU</b> permitirá la postulación por autogestión de un número indefinido de Usuario, cuya condición deberá ser aprobada por el Usuario Master. Cada Usuario dispondrá de diferentes perfiles atendiendo a las funcionalidades a las que finalmente de la defina su acceso. Es entendiendo que <b>NAVICU</b> podrá modificar las funcionalidades asignadas a los distintos Usuarios, frente a lo cual LA <b>AGENCIA DE VIAJES</b> deberá ajustar los perfiles asignados a los mismos. Las distintas modalidades y/o funcionalidades asignadas a los Usuarios podrán coexistir en una o en varias personas.
            </p>
            <p>
                <span>2.16</span> <b> NAVICU</b> ofrece a la <b>AGENCIA DE VIAJES</b> el material de apoyo (material POP), a los efectos de la comercialización y mercadeo del negocio objeto del presente contrato.
            </p>

            <p>
                <span>2.17<span> <b> NAVICU</b> ofrece a la <b>AGENCIA DE VIAJES</b> interfaces graficas personalizadas con los parámetros determinados por <b> NAVICU</b>.
            </p>
            <p>
                <span>2.18</span> La <b>AGENCIA DE VIAJES</b> tendrá derecho a un 10 %  de comisión por cada reserva efectuada y pagada sobre la tarifa estipulada por el hospedaje y los servicios del establecimiento hotelero o de hospedaje afiliado a la red <b>NAVICU</b>. Dicha comisión se calcula sobre la tarifa neta sin IVA.
            </p>

            <h2>TERCERA. OBLIGACIONES Y DECLARACIONES DE LA <b>AGENCIA DE VIAJES</b></h2>
            <p>
                <span>3.1</span> La <b>AGENCIA DE VIAJES</b> declara que toda la información y documentación  aportada es cierta y que constituye una persona jurídica legalmente constituida, conforme a las leyes de la República Bolivariana de Venezuela.
            </p>
            <p>
                <span>3.2</span> La <b>AGENCIA DE VIAJES</b> se compromete a proporcionar a <b>NAVICU</b> una copia de su licencia de explotación comercial o RTN, así como todas las autorizaciones administrativas, información fiscal y la documentación que demuestre el cumplimiento de las obligaciones necesarias para que la <b>AGENCIA DE VIAJES</b> pueda operar legalmente.
            </p>
            <p>
                <span>3.3</span> La <b>AGENCIA DE VIAJES</b> declara que tiene un establecimiento y domicilio físico comprobable.
            </p>
             <p>
                <span>3.4</span> La <b>AGENCIA DE VIAJES</b> aportará a <b>NAVICU</b> su identificación grafica, logo o marca comercial que la identifique.
            </p>
            <p>
                <span>3.5</span> La <b>AGENCIA DE VIAJES</b> debe contar con las referencias bancarias y comerciales que constituyen requisito para la afiliación.
            </p>
            <p>
                <span>3.6</span> La <b>AGENCIA DE VIAJES</b> permitirá que <b>NAVICU</b> lleve  a cabo las inspecciones, auditorías y/o evaluación necesarias a los fines de comprobar la veracidad y exactitud de la información suministrada por la <b>AGENCIA DE VIAJES</b>.
            </p>
            <p>
                <span>3.7</span> Este Contrato no otorga a la <b>AGENCIA DE VIAJES</b> ningún derecho, ni licencia expresa o implícita sobre la propiedad intelectualde<b>NAVICU</b>. La información aportada en la página Web <b>NAVICU</b> seguirá siendo propiedad exclusiva de su titular, respetándose los derechos inherentes a la propiedad.
            </p>
            <p>
                <span>3.8</span> La <b>AGENCIA DE VIAJES</b> declara y garantiza que (i) está autorizado para celebrar este Contrato; (ii) el presente Contrato constituye una obligación válida y vinculante ejecutable contra <b>AGENCIA DE VIAJES</b> de acuerdo con sus términos; (iii) el desempeño de sus obligaciones en virtud del presente Contrato no violará cualquier acuerdo u obligación entre <b>AGENCIA DE VIAJES</b> y cualquier tercero; (iv) su desempeño se ajustará con los términos de este Contrato y; (v) que cuenta y dispone con las licencias, permisos y autorizaciones requeridos para operar su negocio  y cumplir con las  obligaciones derivadas de este Contrato.
            </p>
            <p>
                <span>3.9</span> La <b>AGENCIA DE VIAJES</b> es la única responsable de mantener la confidencialidad de todas las contraseñas y claves de acceso a la plataforma <b>NAVICU</b>. Asimismo, es responsable de tomar las previsiones para evitar el acceso no autorizado a dichas claves y códigos y por los actos y omisiones de cualquier persona que utilice su cuenta en el sistema informático <b>NAVICU</b>.
            </p>
            <p>
                <span>3.10</span> La <b>AGENCIA DE VIAJES</b> tomará todas las medidas necesaria a los fines de que cualquier persona que no sea sus empleados o agentes autorizados, accedan o utilicen su cuenta en el sistema informático <b>NAVICU</b>. En el caso de que la <b>AGENCIA DE VIAJES</b> no cumpla con las condiciones aplicables al acceso en el sistema informático <b>NAVICU</b>, <b>NAVICU</b> puede, a su sola discreción, restringir o prohibir el acceso al sistema informático de <b>NAVICU</b>.
            </p>
            <p>
                <span>3.11</span> Los equipos sistemas, programas de navegación por internet y cualesquiera otros instrumentos que fueren necesarios para acceder con seguridad a la Web <b>NAVICU</b>, serán adquiridos y utilizados por LA <b>AGENCIA DE VIAJES</b> a su exclusivo costo y riesgo y <b>NAVICU</b> en ningún caso será responsable por el buen funcionamiento, idoneidad y compatibilidad de los mismo.
            </p> <p>
                <span>3.12</span> Durante la vigencia de este contrato LA <b>AGENCIA DE VIAJES</b> se obliga a: i) Adoptar y mantener todas las medidas de seguridad que <b>NAVICU</b> le participe para el normal funcionamiento de la WEB <b>NAVICU</b>;  ii) No utilizar la WEB <b>NAVICU</b> para efectuar actividades ilícitas o en favor de terceros relacionados, directa o indirectamente, con actividades de esa naturaleza; iii) Designar a quienes, a los efectos de ese contrato, tendrán la condición de Usuario en sus diferentes modalidades;  iv)  Utilizar la información correspondiente de <b>NAVICU</b> a la que tenga acceso, dentro de un estricto marco de confidencialidad o reserva, asegurándose de que sus directores, administrativos, funcionarios, empleados, contratistas o cualquier otra persona no puedan cópialo, reproducirlos o transmitirlos;  v) Notificar inmediatamente a <b>NAVICU</b> cualquier novedad que se presente en la ejecución de este contrato, particularmente algún cambio en las condiciones de acceso a la WEB <b>NAVICU</b>;  vi)  Guardar, custodiar y conservar los Códigos de Usuarios, Contraseñas, Token o cualquier otra tecnología que en el futuro se adopte, y garantizar el uso adecuado de los mismos por parte de los Usuarios, así como indemnizar a <b>NAVICU</b> por los daños y perjuicios que se pudieren generar por su robo, extravió o pérdida; vii) Asumir las consecuencias de los daños y perjuicios que se pudieren generar en virtud de la indebida utilización de los Códigos de usuarios, contraseña, Token, o cualquier otra tecnología que en el futuro se adopte, a o las derivadas ilícitas que cualquiera de sus directores, administradores, funcionarios, empleados o contratista eventualmente hubiere propiciado, ejecutado, tolerado o encubierto  viii)  Iniciar las acciones judiciales a que hubiere lugar contra quienes actuando por dolo, impericia, imprudencia o negligencia, utilicen fraudulentamente la WEB <b>NAVICU</b> ; y,  ix) Solicitar de inmediato la desincorporación del Usuario, así como la anulación del Código de Usuario, Contraseña, y la devolución del Token, en el caso de ocurrir el cese de la relación laboral que dio origen a su autorización para el acceso a la WEB <b>NAVICU</b>.
            </p>
            <p>
                <span>3.13</span> La <b>AGENCIA DE VIAJES</b>, a los efectos de afiliación a la plataforma a <b>NAVICU</b>, deberá hacer los siguientes pagos:
            </p>
            <p>
                i) Cuota mensual de afiliación y mantenimiento de su cuenta en la plataforma<b>NAVICU</b>, la cual declara conocer y aceptar para el momento de la firma del presente contrato. Dicho pago autoriza el acceso a la plataforma Web de NAVICU, a través de un usuario, y a obtener el código o identificación de usuario con los derechos que se derivan de dicha afiliación. Dicha cuota podrá ser actualizada por <b>NAVICU</b>, y a tales efectos, <b>NAVICU</b> notificará a la <b>AGENCIA DE VIAJES</b> tal actualización de precios y la fecha de entrada en vigencia de la misma.
            </p>

            <p>
                ii) Cuota mensual por usuarios adicionales, la cual declara conocer y aceptar para el momento de la firma del presente contrato. Dicha cuota mensual podrá ser actualizada por <b>NAVICU</b> y, a tales efectos, <b>NAVICU</b> notificará a la <b>AGENCIA DE VIAJES</b> tal actualización de precios y la fecha de entrada en vigencia de la misma.
            </p>

            <p>
                iii) Deposito en garantía a nombre de <b>NAVICU</b> en la cuenta que este señale, a los fines de otorgar a la <b>AGENCIA DE VIAJES</b> el crédito mensual por el adelanto de pago que realiza <b>NAVICU</b>, en virtud de las reservaciones de habitaciones efectuadas por cuenta de la <b>AGENCIA DE VIAJES</b>. Dicho depósito en garantía tendrá diferentes modalidades, las cuales la <b>AGENCIA DE VIAJES</b> declara conocer, aceptar y fondear la de su selección. Dicho depósito en garantía podrá ser actualizado por <b>NAVICU</b> y, a tales efectos, <b>NAVICU</b> notificará a la <b>AGENCIA DE VIAJES</b> tal actualización de precios y la fecha de entrada en vigencia de la misma para que la <b>AGENCIA DE VIAJES</b> pueda cumplir con dicha actualización.
            </p>
            <p>
                <span>3.14</span> La cuota mensual de afiliación, la cuota mensual por acceso de usuarios adicionales y las diferentes modalidades del depósito en garantía antes señalado se fijarán en la página WEB <b>NAVICU</b>. Dichas cuotas y depósitos podrán ser actualizados por <b>NAVICU</b> en cualquier momento y, a tales efectos, <b>NAVICU</b> notificará a la <b>AGENCIA DE VIAJES</b> tal actualización de precios y la fecha de entrada en vigencia de la misma. En este caso, la <b>AGENCIA DE VIAJES</b> tiene un plazo de dos (2) semanas para formalizar el pago del depósito en garantía referido.
            </p>
            <p>
                <span>3.15</span> La AGENCIA DE VIAJE tiene el deber de cumplir con las obligaciones de este contrato y en caso de incumplimiento de cualquiera de ellas, <b>NAVICU</b> puede suspender el servicio de manera inmediata mediando simple notificación a la <b>AGENCIA DE VIAJES</b>.
            </p>

            <h2>CUARTA: PROCESO DE RESERVA A TRAVÉS DE LA PÁGINA WEB <b>NAVICU</b></h2>
            <p>
                <span>4.1</span> <b>NAVICU</b>, una vez cumplidas las formalidades de afiliación por parte de la <b>AGENCIA DE VIAJES</b>, le aportará a ésta un código de acceso a la plataforma Web  <b>NAVICU</b>. A partir de ese momento, la <b>AGENCIA DE VIAJES</b> tramitará las reservas de habitaciones y servicios a través de la página Web <b>NAVICU</b>. En tal sentido, la plataforma Web le mostrará a la <b>AGENCIA DE VIAJES</b> todas las ofertas y disponibilidades de habitación, hospedaje y servicios en los establecimientos hoteleros afiliados a la red <b>NAVICU</b>. La plataforma <b>NAVICU</b> mostrará la disponibilidad de habitaciones, conforme a los parámetros de búsqueda que aporte el usuario. El usuario seleccionará la habitación y los parámetros, datos y condiciones de reserva. La plataforma <b>NAVICU</b> confirmará la reserva de manera inmediata, o en la medida que los sistemas electrónicos  así lo permitan,  a la <b>AGENCIA DE VIAJES</b> y remitirá el email de confirmación de reserva a la dirección correspondiente de la <b>AGENCIA DE VIAJES</b> y al resto de módulos en caso de haber sido contratados.
            </p>
            <p>
                <spa    n>4.2</span> <b>NAVICU</b> cobrará a la <b>AGENCIA DE VIAJES</b>, al momento de confirmar la reservación, el importe total de la reserva. A tales efectos, <b>NAVICU</b> facturará mensualmente el importe de todas las reservas. Dicha factura podrá ser consultada por la <b>AGENCIA DE VIAJES</b> en la página WEB <b>NAVICU</b>, con el desglose de todas las reservas efectuadas.
            </p>
            <p>
                <span>4.3</span> Por cada noche de hospedaje reservada a través de la plataforma <b>NAVICU</b>, <b>NAVICU</b> tendrá derecho a retenerun porcentaje del importe bruto, con impuesto incluido. Dicho porcentaje que constituye la contraprestación de <b>NAVICU</b>, la conoce la <b>AGENCIA DE VIAJES</b> por estar debidamente informado. Por cada reserva realizada por la <b>AGENCIA DE VIAJES</b> en la plataforma <b>NAVICU</b>, la <b>AGENCIA DE VIAJES</b> le pagará a <b>NAVICU</b> una cantidad igual al precio total de la reserva realizada más el impuesto correspondiente restando el porcentaje de comisión vinculado en este contrato.
            </p>
            <p>
                <span>4.4</span> <b>NAVICU</b> emitirá mensualmente la factura correspondiente y la <b>AGENCIA DE VIAJES</b> pagará el monto facturado dentro de los cinco (5) días después de emitida la factura en cuestión.El proceso de facturación se hará de manera digital y se remitirá a la <b>AGENCIA DE VIAJES</b>vía electrónica a la dirección señalada por la <b>AGENCIA DE VIAJES</b>.  La <b>AGENCIA DE VIAJES</b> pagará a <b>NAVICU</b> mediante transferencia bancaria a la cuenta previamente indicada o a través del sistema de domiciliación bancaria implementado por <b>NAVICU</b>.
            </p>
            <p>
                <span>4.5</span> El sistema de facturación implementado por <b>NAVICU</b> en su plataforma Web, le permitirá a la <b>AGENCIA DE VIAJES</b> visualizar cada reserva, el nombre del Huésped, la identidad o código de reserva emitido por <b>NAVICU</b>, las fechas de check-in y check-outy el impuesto correspondiente.
            </p>
            <p>
                <span>4.6</span> <b>NAVICU</b> se reserva el derecho de realizar en cualquier momento, previa notificación por email, cambios o actualizaciones a sus sistemas de facturación, los métodos de pago y/o requisitos de facturación.
            </p>
            <p>
                <span>4.7</span> La <b>AGENCIA DE VIAJES</b> puede solicitar a <b>NAVICU</b> servicios adicionales de mercadeo para lo cual las partes podrían llegar acuerdos adicionales de los pactados en este contrato.
            </p>
            <p>
                <span>4.8</span> <b>NAVICU</b> registra todas las reservas confirmadas en su página Web. La <b>AGENCIA DE VIAJES</b> tiene a su disposición la extranet de <b>NAVICU</b> en la que podrá consultar el estado de todas las reservas que se han efectuado a través de la página <b>NAVICU</b>.
            </p>
            <p>
                <span>4.9</span> Si una parte considera que una reserva puede ser o es fraudulenta, o ciertos datos proporcionados no se pueden verificar, las partes trabajarán de buena fe para hacer frente a tales reservas fraudulentas o potencialmente fraudulentas. En caso de reservas fraudulentas o potencialmente fraudulentas, <b>NAVICU</b> puede cancelar dicha reserva en cualquier momento.
            </p>
            <p>
                <span>4.10</span> Constituyen pruebas de la reserva tramitada por <b>NAVICU</b> los libros, registros informativos y físicos de <b>NAVICU</b> incluyendo, sin limitación, cualquier información contenida en las redes informáticas de acceso  a <b>NAVICU</b> o el sistema de <b>NAVICU</b> o en cualquier comunicación electrónica presentada por <b>NAVICU</b>. Además, la <b>AGENCIA DE VIAJES</b> reconoce que <b>NAVICU</b>, por lo general, no tiene conocimiento de (i) las fechas reales de llegada o salida  de los huéspedes; (ii) de cualquier aviso de cancelación que puedan realizar los huéspedes directamente al establecimiento hotelero o de hospedaje; o (iii) cualquier ajuste que pudiera ser negociado por la <b>AGENCIA DE VIAJES</b> directamente con los huéspedes. En estos casos, la <b>AGENCIA DE VIAJES</b> deberá entregar a <b>NAVICU</b> la documentación relativa a la modificación establecida.
            </p>
            <p>
                <span>4.11</span> Los establecimientos hoteleros y hospedajes, así como la disponibilidad de habitaciones y servicios  que aparecen en el sistema de <b>NAVICU</b> aparecerán en un orden determinado por <b>NAVICU</b>, a su sola discreción.
            </p>
            <p>
                <span>4.12</span> La <b>AGENCIA DE VIAJES</b> acepta que no hay cancelación de reservas ni se admite el no show.La <b>AGENCIA DE VIAJES</b> no podrá cancelar las reservas que se hagan a través del sistema <b>NAVICU</b>, siempre y cuando dicha reservación esté confirmada.
            </p>
            <p>
                <span>4.13</span> La <b>AGENCIA DE VIAJES</b> queda obligada a informar a su cliente/huésped sobre las políticas de cancelación y no-show.
            </p>
            <p>
                <span>4.14</span> <b>NAVICU</b> se reserva el derecho a cancelar una reserva en cualquier momento, cuando la <b>AGENCIA DE VIAJES</b> no hubiese cumplido con los términos y condiciones para la concreción de la reservación.
            </p>
            <p>
                <span>4.15</span> <b>NAVICU</b> hará sus mejores esfuerzos para guardar confidencialidad sobre los datos de las reservas y para impedir la divulgación no intencional y el acceso no autorizado o apropiación indebida de cualquier dato o información de cualquier relativa a las reservas realizadas.
            </p>
            <p>
                <span>4.16</span> Las Partes acuerdan que cualquier información de cualquiera de las Partes que se designe como confidencial o que por su naturaleza deba ser tratada como confidencial, sólo será utilizada como específicamente es permitido por los términos y condiciones de este Contrato. Sin el consentimiento expreso y por escrito de la parte cuya información será divulgada, se podrá revelar dicha información a terceros, tanto durante la vigencia del presente contrato, como aun después de haber terminado la relación contractual. Para evitar cualquier duda, Información Confidencial incluye, pero no se limita, ala información (i) proporcionada por un huésped en relación con cualquier reserva o (ii) proporcionada por la <b>AGENCIA DE VIAJES</b> en relación con este Contrato, incluyendo, sin limitación, los términos y condiciones de este Contrato. No se considera información confidencial la información que i) esté a disposición del público; ii) que fuera conocida por la parte receptora antes de la divulgación de la parte de dicha información; iii) que se dio a conocer a la parte receptora de una fuente que no sea la parte reveladora, cuando dicha fuente no incumplió una obligación de confidencialidad debida a la parte reveladora o; iv) que sea revelada independientemente por la parte receptora. Una parte podrá revelar la Información Confidencial de la otra parte, si así lo requiere, para cumplir con una orden judicial u otra demanda de las autoridades competentes.En todo caso, antes de la divulgación, la parte reveladora debe buscar el mayor nivel de protección disponible y proporcionar información a la otra parte, con una antelación razonable,  para que solicite una protección legal. Toda la Información Confidencial seguirá siendo propiedad exclusiva de la parte reveladora.
            </p>
            <p>
                <span>4.17</span> Cada partees responsable de las obligaciones tributarias que le correspondan y que deriven de la ejecución de este contrato.
            </p>

            <h2>QUINTA. CONDICIONES GENERALES</h2>
            <p>
                <span>5.1</span> Si surge una disputa con respecto a cualquier obligación de pago en virtud de este Contrato, las partes trabajarán juntas de buena fe para resolver dicha disputa, y hasta que tal disputa se resuelva de manera satisfactoria las partes acuerdan suspender el servicio hasta que se solucionen las diferencias. En todo caso, las partes no podrán  (i) negarse a honrar cualquier reserva o; (ii) tomar cualquier acción que pueda interferir con el cumplimiento o el disfrute de huéspedes reservados por el sistema <b>NAVICU</b>.
            </p>
            <p>
                <span>5.2</span> La <b>AGENCIA DE VIAJES</b> está se obliga a indemnizar, defender y mantener indemne a <b>NAVICU</b> y cada uno de sus directores, empleados o agentes de <b>NAVICU</b> frente a cualquier reclamo, acción, pérdida, daño, gasto u otra responsabilidad, incluyendo, sin limitación, los honorarios y gastos de abogados, que surjan con  relación a (i) los servicios que presta la AGENCIA DE VIAJE en su relación con sus clientes; o (ii) el desempeño de los deberes y obligaciones de LA <b>AGENCIA DE VIAJES</b> derivados de este Contrato o cualquier violación o incumplimiento por parte de LA <b>AGENCIA DE VIAJES</b> de este Contrato, incluyendo, sin limitación, la violación de cualquier representación, garantía o convenio.
            </p>
            <p>
                <span>5.3</span> Todas las notificaciones deben ser en español, por escrito y enviadas vía email a la dirección que se indica a continuación:
            </p>
            <p>
                <b>NAVICU</b>: preguntas@navicu.com
            </p>

            <p>
                La <b>AGENCIA DE VIAJES</b>: la Dirección registrada en el sistema <b>NAVICU</b> al momento de la afiliación.
            </p>
            <p>
                <span>5.4</span> Cualquiera de las partes podrá demandar la resolución del presente Contrato, si cualquier otra parte deja de hacer negocios, se vuelve insolvente, o está sujeto a un procedimiento de quiebra o insolvencia, o razonablemente cree que es inminente.
            </p>
            <p>
                <span>5.5</span> La duración del presente contrato indeterminada. No obstante, previa notificación realizada a la otra parte con por lo menos un (1) mes de anticipación a la fecha que se tenga prevista para tales propósitos, las partes podrán terminar ese contrato sin que bajo ningún supuesto se tenga que justificar las causas o motivos en que se sustenta tal decisión ni surja para la parte contra la que obra la misma, el derecho de reclamar la indemnización de los eventuales daños y perjuicios que dicho hecho se pudieren derivar. Una vez terminado el contrato LA <b>AGENCIA DE VIAJES</b> se compromete a devolver en perfecto estado el Token a <b>NAVICU</b> y esta, una vez verificado el cumplimento de todas las obligaciones dinerarias de la <b>AGENCIA DE VIAJES</b>, le reintegrará las garantías otorgadas. Queda plenamente entendido que <b>NAVICU</b> está facultado para dar por determinado el presente contrato en cualquier momento, si LA <b>AGENCIA DE VIAJES</b> incumple las obligaciones derivadas del presente contrato o los compromisos adquiridos frente a <b>NAVICU</b> con ocasión a la contratación de productos, servicios o créditos, independientemente de su naturaleza.
            </p>

            <p>
                Queda expresamente entendido que las obligaciones derivadas de este contrato deben ser cumplidas y ejecutadas fiel y cabalmente, aun cuando se esté cumpliendo el plazo de la notificación de resolución. En todo caso, las obligaciones derivadas de este contrato no cesan hasta su efectivo y total cumplimento. En tal sentido, aunque se resuelva el contrato, todas las reservas que existan en el sistema, deberán de ser atendidas con las mismas garantías.
            </p>

            <p>
                <span>5.6</span> <b>NAVICU</b> se reserva el derecho de modificar e imponer términos y condiciones nuevas o adicionales al presente contrato en cualquier momento. <b>NAVICU</b> notificará por escrito de dichos cambios. Si la <b>AGENCIA DE VIAJES</b> no acepta estas modificaciones o términos y condiciones nuevas o adicionales, la <b>AGENCIA DE VIAJES</b> puede terminar este Contrato mediante notificación escrita a <b>NAVICU</b>. Si la <b>AGENCIA DE VIAJES</b> no ejerce su derecho a rescindir el presente contrato, dentro de los quince (15) días después de la notificación de cualquier modificación o términos y condiciones nuevas o adicionales, se tendrá tal omisión como aceptación de tales cambios.
            </p>
            <p>
                <span>5.7</span> Ninguna modificación de este Contrato por parte de la <b>AGENCIA DE VIAJES</b> será vinculante para <b>NAVICU</b>, sin su consentimiento previo por escrito.
            </p>
            <p>
                <span>5.8</span> <b>NAVICU</b> no se hace responsable por la interrupción imprevista de la WEB <b>NAVICU</b>; por dificultades en su funcionamiento; por el retardo en el tiempo  de procesamiento de cualesquiera consultas, instrucciones y/o solicitudes enviadas y/o realizadas a través del mismo, si tal interrupción, dificultad o demora obedece a la ocurrencia de caso fortuito, fuerza mayor, hecho del príncipe, hecho de un tercero o a cualquier otra causa extraña no imputable a <b>NAVICU</b>. Se consideran razones de fuerza mayor a las perturbaciones civiles, terremotos, inundaciones, incendios, guerras acciones de gobierno por parte de las autoridades civiles o militares, motines, huelga, hechos de la naturaleza  u otros acontecimientos que ni la persona más prudente hubiere podido evitar. La anterior mención tiene fines eminentemente enunciativos y de modo alguno limitativos o taxativos. Tampoco asumirá <b>NAVICU</b> ninguna responsabilidad por la información inexacta que pudiera recibir LA <b>AGENCIA DE VIAJES</b> debido a fallas técnicas que no fueran imputables a <b>NAVICU</b>, así como tampoco por la imposibilidad de obtención de información o de ejecución de operaciones, instrucciones, y/o solicitudes por causas de una u otra forma atribuibles a LA <b>AGENCIA DE VIAJES</b> , tales como, cuentas embargadas; insuficiencia de fondos o por la incorrecta operación de WEB <b>NAVICU</b>; daños en los sistemas de comunicación; y cualquier otro motivo de escape del control de <b>NAVICU</b>. <b>NAVICU</b>, ante la ocurrencia de cualquier caso fortuito, razones de fuerza mayor, hecho del príncipe, hecho de un tercero, cualquier otra causa extraña que no le fuera imputable e incluso por motivos de seguridad, podrá suspender temporalmente la WEB <b>NAVICU</b> sin necesidad de dar aviso a LA <b>AGENCIA DE VIAJES</b> ni de obtener su consentimiento. No obstante, <b>NAVICU</b> mantendrá informado a LA <b>AGENCIA DE VIAJES</b> sobre la ocurrencia de cualquiera de estos eventos y el plazo que se requiera para restablecerlo.
            </p>
            <p>
                <span>5.9</span> Ninguna  de las partes tendrán responsabilidad frente a la otra por el  incumplimiento o demora en el cumplimiento de cualesquiera de su obligaciones de acuerdo a este Contrato debido a causas razonables fuera de su control incluyendo, pero no limitado a fuego, inundación no imputable a las partes, epidemia, desastres naturales, huelgas, conflicto laborales, otros disturbios industriales, falta de materia prima, accidentes inevitables reglamentaciones gubernamentales, guerra disturbios  e insurrecciones. La lista de eventos de fuerza mayor establecida en la oración previa no es exhaustiva y el principio de ejusdem generis no se aplicara al determinar si un acto o evento particular califica como evento de fuerza mayor. Ante la ocurrencia de tales condiciones de fuerza mayor, se le informará de inmediato a la otra parte de cualquier desarrollo posterior. Inmediatamente después de que la causa desaparezca, la parte afectada desempeñara sus obligaciones con premura. Si algún evento de fuerza mayor continúa por noventa (90) días o más cualquiera de las partes puede dar terminado este Contrato mediante la entrega de una notificación escrita a la otra parte.
            </p>
            <p>
                <span>5.10</span> Las partes acuerdan someterse a las leyes de la República Bolivariana de Venezuela. Cualquier disputa o controversia con relación a este contrato se someterá a arbitraje de conformidad con el Reglamento de la Cámara de Comercio de Caracas.
            </p>
            <p>
                <span>5.11</span> Este contrato será efectivo a partir de la firma del contrato y su consignación entre las partes de los originales. El contrato estará vigente hasta que las partes manifiesten su voluntad de resolverlo.
            </p>
        </div>
    </body>
</html>


