<footer>
    <div class="nvc-container">
        <div class="nvc-copyright">
            2014·2017&nbsp;navicu.com&trade;
            Todos&nbsp;los&nbsp;derechos&nbsp;reservados
        </div>
    </div>
</footer>
