<div class="clearfix">
    <header class="clearfix">
        <div class="nvc-container">
            <h1>
                {[{ LABELS[selectedTab] }]}
            </h1>
            <aside ng-show="{{ hasPermission('admin_affiliates', 'download_excel') }}">
                <button class="nvc-button" ng-click="downloadExcel()">
                    {{ 'aavv.reservations.list.form.buttons.download_excel' | trans }}
                </button>
            </aside>
        </div>
    </header>
</div>

<form class="nvc-form--aavv nvc-container">
    <div class="nvc-form__left">
        <div class="input-group">
            <span class="input-group-addon">
                Búsqueda
            </span>

            <input
                class="form-control"
                id="nvc-form__search"
                ng-model="search"
                role="search"
                tabindex="1"
                type="text"
            />

            <span class="input-group-addon">
                <button
                    ng-click="getList(search, 1, null)"
                    type="submit"
                >
                    Buscar
                </button>
            </span>
        </div>
    </div>

    <div class="dropdown nvc-table__legend">
        <button
            class="btn btn-default dropdown-toggle"
            type="button" id="dropdownlogin"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
        >
            <img src="{{ asset('images/leyenda.png') }}"/>
            Ver leyenda de búsqueda
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownlogin">
            <li>
                <strong>Fecha creación</strong>
                <br>
                <span>create_date:2016-01-01:2016-03-30</span>
            </li>
            <hr>
            <li>
                <strong>Fecha expiración</strong>
                <br>
                <span>due_date:2016-01-01:2016-03-30</span>
            </li>
            <hr>
            <li>
                <strong>Detalle de la reserva</strong>
                <br>
                <span>check_in:2016-01-30:2016-03-01</span>
                <br>
                <span>check_out:2016-01-01:2016-02-15</span>
            </li>
        </ul>
    </div>

    <ul
        class="nvc-table__legend"
        ng-if="selectedTab === STATUS_ALL"
    >
        <li class="nvc-table__legend--accepted">
            Aceptadas
        </li>

        <li class="nvc-table__legend--cancelled">
            Canceladas
        </li>

        <li class="nvc-table__legend--pending">
            En proceso de confirmación
        </li>

        <li class="nvc-table__legend--pre">
            Pre-reservas
        </li>
    </ul>
</form>
