<header>
    <div class="nvc-container">
        <h1>
            Histórico de reservas
        </h1>
    </div>
</header>

<div class="search clearfix">
    <div>
        <input
            ng-model="search"
            type="text"
            class="form-control details"
            ng-change="getData(search, 1, null)"
        >
    </div>
</div>
