<div ng-repeat="user in users">
    <div class="title" ng-class="{'colorTitleTwo': $index % 2 != 0}" ng-click="open = !open">
        <div class="col-xs-16">
            <h2>
                {[{ user.user_name }]}
            </h2>
        </div>
    </div>
    <div class="content" ng-if="open">
        <div class="mainInfo">
            <div class="col-xs-16">
                <h2>
                    E-mail
                </h2>
            </div>
        </div>
        <div class="info">
            <div class="col-xs-16">
                <h2>
                    {[{ user.email }]}
                </h2>
            </div>
        </div>
        <div class="type">
            <div class="col-xs-8 separatorOne">
                <h2>Teléfono</h2>
            </div>
            <div class="col-xs-8">
                <h2>País</h2>
            </div>
        </div>
        <div class="info">
            <div class="col-xs-8 separatorTwo">
                <h2>{[{ user.phone }]}</h2>
            </div>
            <div class="col-xs-8">
                <h2>{[{ user.country }]}</h2>
            </div>
        </div>
        <div class="mainInfo">
            <div class="col-xs-8 separatorOne">
                <h2>
                    Ciudad
                </h2>
            </div>
            <div class="col-xs-8">
                <h2>
                    Estado
                </h2>
            </div>
        </div>
        <div class="info">
            <div class="col-xs-8 separatorTwo">
                <h2>
                    {[{ user.city }]}
                </h2>
            </div>
            <div class="col-xs-8">
                <h2 ng-if="user.enabled">Activo</h2>
                <h2 ng-if="!user.enabled">Desactivado</h2>
            </div>
        </div>
        <div class="type">
            <div class="col-xs-16">
                <h2>Antelación</h2>
            </div>
        </div>
        <div >
            <select 
             class="form-control" 
             ng-model="property.commercialProfile"
             ng-change="setCommercial($index, property.commercialProfile)"
             ng-options="item as item.fullName for item in commercials track by item.commercialId"
             >
            </select>
        </div>  
    </div>
</div>
