<script id="colorpicker.tpl" type="text/ng-template">
    <div class="colorpicker">
        <div class="colorpicker_color">
            <div>
              <div></div>
            </div>
        </div>
        <div class="colorpicker_hue">
            <div></div>
        </div>
        <div class="colorpicker_new_color"></div>
        <div class="colorpicker_current_color"></div>
        <div class="colorpicker_hex">
            <input type="text" maxlength="6" size="6" />
        </div>
        <div class="colorpicker_rgb_r colorpicker_field">
            <input type="text" maxlength="3" size="3" /><span></span></div>
        <div class="colorpicker_rgb_g colorpicker_field">
        <input type="text" maxlength="3" size="3" /><span></span></div>
        <div class="colorpicker_rgb_b colorpicker_field">
        <input type="text" maxlength="3" size="3" /><span></span></div>
        <div class="colorpicker_hsb_h colorpicker_field">
        <input type="text" maxlength="3" size="3" /><span></span></div>
        <div class="colorpicker_hsb_s colorpicker_field">
        <input type="text" maxlength="3" size="3" /><span></span></div>
        <div class="colorpicker_hsb_b colorpicker_field">
        <input type="text" maxlength="3" size="3" /><span></span></div>
        <div class="colorpicker_submit"></div>
    </div>
</script>
