 <footer class='nvc-footer__aavv visible-md visible-lg nvc-aavv-customize__footer'>
    <div class='nvc-container'>
        <div class='col-md-5'>
            {% include "NavicuInfrastructureBundle:AAVV:footer/footerCopyright.html.twig" %}
        </div>
        <div class='col-md-6 nvc-footer__aavv--center'>
            {% include "NavicuInfrastructureBundle:AAVV:footer/footerContact.html.twig" %}
            {% include "NavicuInfrastructureBundle:AAVV:footer/footerSocial.html.twig" %}
        </div>
        <div class='col-md-5 nvc-footer__aavv--right'>
            {% include "NavicuInfrastructureBundle:AAVV:footer/footerAddress.html.twig" %}
        </div>
    </div>
</footer>
