<div class="nvc-row separator">
    <div class="col-xs-16">
        <div class='nvc-input-group--aavv form-group-datail'>
            <label class="nvc-input-group-addon">Trato</label>
            <select class="form-control nvc-input__register">
                <option value="">Sra.</option>
                <option value="">Srta.</option>
                <option value="">Sr.</option>
            </select>   
        </div>
    </div>
</div>
<hr>
<div class="nvc-row separator">
    <div class="col-xs-16">
        <div class='nvc-input-group--aavv form-group-datail'>
            <label class="nvc-input-group-addon">Sexo</label>
            <select class="form-control nvc-input__register">
                <option value="">Femenino</option>
                <option value="">Masculino</option>
            </select>   
        </div>
    </div>
</div>
<hr>
<div>
    <label>Nombre y apellido</label>
    <input
        class="form-control"
        type='text'
    />
</div>
<hr>
<div>
    <label>Cédula</label>
    <input
        class="form-control"
        type='text'
    />
</div>
<hr>
<div>
    <label>Fecha nacimiento</label>
    <input
        class="form-control"
        type='text'
    />
</div>
<hr>
<div>
    <label>Username</label>
    <input
        class="form-control"
        type='text'
    />
</div>
<hr>
<div>
    <label>E-mail</label>
    <input
        class="form-control"
        type='text'
    />
</div>
<hr>
<div>
    <label>Teléfono</label>
    <input
        class="form-control"
        type='text'
    />
</div>
<hr>
</div>