<div class='nvc-footer__aavv--social'>
    <a
        class="nvc-aavv-customize__icon"
        href='https://www.facebook.com/navicu.reservas'
        rel='noopener noreferrer'
        target='_blank'
    >
        <i class='fa fn-facebook' ></i>
    </a>

    <a
        class="nvc-aavv-customize__icon"
        href='https://twitter.com/_navicu'
        rel='noopener noreferrer'
        target='_blank'
    >
        <i class='fa fn-twitter' ></i>
    </a>

    <a
        class="nvc-aavv-customize__icon"
        href='https://instagram.com/_navicu'
        rel='noopener noreferrer'
        target='_blank'
    >
        <i class='fa fn-instagram' ></i>
    </a>

    <a
        class="nvc-aavv-customize__icon"
        href='https://www.youtube.com/channel/UCgusN-AvP1nas0qnPji7cLA'
        rel='noopener noreferrer'
        target='_blank'
    >
        <i class='fa fn-youtube' ></i>
    </a>

    <a
        class="nvc-aavv-customize__icon"
        href='https://plus.google.com/+NavicuAlojamiento'
        rel='noopener noreferrer'
        target='_blank'
    >
        <i class='fa fn-google' ></i>
    </a>
</div>
