<header>
    <div class="nvc-container">
        <h1>
            Facturación de servicios
        </h1>
    </div>
</header>
<div class="search" style="height: 52px;">
    <div>
        <input
            ng-model="search"
            type="text"
            class="form-control"
            ng-change="getListFilter(search, 1, null)"
        >
    </div>
</div>
