<div class="nvc-aavv__step3--membership">
    <div class="col-md-8">
        <h5>
            Costo mensual de afiliación
        </h5>
        <p>
            Este importe lo cargaremos directamente en tu cuenta al finalizar cada mensualidad
            con concepto de mantenimiento y licencia de tu cuenta
        </p>
        <h3>
            Cuota de mantenimiento y licencias de uso
        </h3>
        <p>
            Este importe lo cargaremos directamente en tu cuenta al finalizar cada mensualidad
            con concepto de mantenimiento y licencia de tu cuenta
        </p>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <div
            class="nvc-jumbotron__registerAAVV row"
            style="margin-top: 18px;"
        >
            <div class="col-md-11">
                <i class='fa fn-info nvc-tooltips nvc-tooltips__top' >
                    <span>
                        Costo adicional mensual de Bs5.000
                    </span>
                </i>
                <h6>
                    Cuota de mantenimiento
                </h6>
            </div>
            <div class="col-md-5">
                <h1>
                    Bs 50.000
                </h1>
            </div>
        </div>
        <hr>
        <div
            class="nvc-jumbotron__registerAAVV row"
            style="margin-top: -15px;"
        >
            <div class="col-md-11">
                <i class='fa fn-info nvc-tooltips nvc-tooltips__top' >
                    <span>
                        Costo adicional mensual de Bs5.000
                    </span>
                </i>
                <h6>
                    2 Licencias de uso
                </h6>
            </div>
            <div class="col-md-5">
                <h1>
                    Bs 40.000
                </h1>
            </div>
        </div>
    </div>
</div>
