<div class="nvc-container">
    <div class="col-md-8">
        <h1>Envía correos de confirmación a tus clientes adapatado a la imagen de tu empresa</h1>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <div class="nvc-jumbotron__registerAAVV--purple information nvc-row">
            <div
                class="col-md-12"
                style="margin-top: 19px;"
            >
                <i class='fa fn-info nvc-tooltips nvc-tooltips__top' >
                    <span>
                        Costo adicional mensual de Bs5.000
                    </span>
                </i>
                <div class="checkbox">
                    <span>
                        <input type="checkbox" value="">
                        Correos electrónicos personalizados
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <h1>
                    Bs 10.000
                </h1>
            </div>
        </div>
    </div>
</div>
