<script id="modal-loading.tpl" type="text/ng-template">
    <div class="modal" tabindex="-1" role="dialog">
	    <div class="modal-loading">
	    	<img src="{{ asset('images/loading.gif') }}"
	    </div>
    </div>
</script>    
