<div class="nvc-container">
    <div class="col-md-5 col-lg-5">
        <div class="nvc-row">
            <h3>Check-in</h3>
            <h4>{[{detailsReservation.checkIn}]}</h4>
        </div>
        <div class="nvc-row">
            <h3>Nombre</h3>
            <h4>{[{detailsReservation.fullName}]}</h4>
        </div>
        <div class="nvc-row">
            <h3>e-mail</h3>
            <h4>{[{detailsReservation.email}]}</h4>
        </div>
        <div class="nvc-row">
            <h3>Adultos</h3>
            <h4>{[{detailsReservation.numberAdult}]} - </h4>
            <h3>Niños</h3>
            <h4>{[{detailsReservation.numberChild}]}</h4>
        </div>
    </div>
    <div class="col-md-4 col-lg-5">
        <div class="nvc-row">
            <h3>Check-out</h3>
            <h4>{[{detailsReservation.checkOut}]}</h4>
        </div>
        <div class="nvc-row">
            <h3>Nacionalidad</h3>
            <h4>Venezolano</h4>
        </div>
        <div class="nvc-row">
            <h3>Teléfono</h3>
            <h4>{[{detailsReservation.phone}]}</h4>
        </div>
        <div class="nvc-row">
            <h3>Cedula</h3>
            <h4>{[{detailsReservation.identityCard}]}</h4>
        </div>
    </div>
    <div class="col-md-3 col-lg-3">
        <div class="nvc-row">
            <h2>Importe bruto</h2>
        </div>
        <div class="nvc-row">
            <h1>{[{detailsReservation.sellRate}]}</h1>
        </div>
        <div class="nvc-row">
            <h2>Importe neto</h2>
        </div>
        <div class="nvc-row">
            <h1>{[{detailsReservation.netRate}]}</h1>
        </div>
    </div>
    <div class="col-md-4 col-lg-3" style="text-align: right;">
        <div class="nvc-row">
            <h2>Comisión descontada</h2>
        </div>
        <div class="nvc-row">
            <h1>{[{detailsReservation.discountRate}]}%</h1>
        </div>
    </div>
</div>