<script id="modal-exito.tpl" type="text/ng-template">
    <div class="modal" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-pad centered-modal" style="width: 29%;margin-top: 15%;">
	        <div class="modal-header modal-" style="height: 60px !important;">
	           
	             <h3 class="font-sidebar-tittle" style="color: white; margin-top:4%;">
	             	<div align="center">
		             	<i class="fa fa-check"></i> 
		             	<span style="padding-left: 10px;">
		             	Cambios guardados con éxito</span>
	             	</div>
	             </h3>
	        </div>
	    </div>
    </div>
</script>    
