{% extends "NavicuInfrastructureBundle:Ascribere/PropertyForm/Resetting:layoutResetting.html.twig" %}

{% block content_title %}
    <div class="col-xs-16" >
        <h1 style="font-size:-webkit-xxx-large">
            <p>
                {{ 'share.message.resetting.password_already_requested'|transchoice(0) }}
            </p>
        </h1>
        <h4>
            <p>
                {{ 'share.message.resetting.password_already_requested'|transchoice(1) }}
            </p>
        </h4>
    </div>
{% endblock content_title %}

{% block content_buttons%}
    <div class="col-xs-2 col-xs-offset-14 text-bold" >
        <a href="{{path('extranet_login')}}" class="thumbnail" >
            <center><b>{{ 'share.action.go_back'|trans }}</b></center>
        </a>
    </div>

{% endblock %}
